<nav>
  <div class="site-title">
    <a href="/"><h1>User Management</h1></a>
    <p>A MSH Site</p>
  </div>
  <ul>
    <li><a href="/displayUsers">Users</a></li>
    <li><a href="/about">About ME</a></li>
    <li><a href="/createUsers">New User</a></li>
  </ul>
</nav>