<nav>
  <div class="site-title">
    <a href="/"><h1>User Database</h1></a>
    <p>A MSH Site</p>
  </div>
  <ul>
    <li><a href="/displayUsers">Users</a></li>
    <li><a href="/about">About Site</a></li>
    <li><a href="/createUsers">Create New User</a></li>
  </ul>
</nav> 