<html lang="en">
<%- include("./partials/head.ejs") %>

<body>
  <%- include("./partials/nav.ejs") %>

  <div class="create-blog content">
    <form action="  " method="POST">
      <label for="name">Name:</label>
      <input type="text" id="name" name="name" required>
      <label for="Email">Email:</label>
      <input type="text" id="email" name="email" required>
      <label for="Age">Age:</label>
      <input type="text" id="age" name="age" required>
      <button>Submit User</button>
    </form>
  </div>

  <%- include("./partials/footer.ejs") %>
</body>
</html>