<html lang="en">

    <body>
        <h2> All Users</h2>
        <% if (userList.length > 0 ){%>
            <% userList.forEach(user=>{%>
                <p><%= user.name%></p>
                <p><%= user.age%></p>
                <p><%= user.email%></p>
            <% }) %>
        <% } else { %>
            <p>There are no blogs to display...</p>
        <% } %>

    </body>

</html>